@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>XnetIT Field Engineer Management System.</h3>

<p>
    XnetIT (Pvt) Ltd is one of the fore-runners in providing IT Support and other IT services
    from defining effective business processes to operating the service a solid team of
    engineers and technicians works diligently to deliver a superior service to the clients.
    Thus, it was identified that XnetIT can save a great deal of time and effort by having
    their own field engineer management tool which can be used to communicate and
    manage the field engineers and tasks.
</p>