@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>CONTACT INFO</h3>

<address>
    xnetIT (Private) Limited 70/1-9, <br />
    Terrace Road, <br />Dulwich Hill,<br />
    Nsw 2203<br />
    <abbr title="Phone">+61 280397376</abbr>
    
</address>

<address>
    <strong>Support:</strong>   <a href="info@xnetit.com.au">info@xnetit.com.au</a><br />
</address>