@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>XnetIT (Pvt) Ltd.</h1>
    <div style="float:right"><img src="~/img/xnetimage.png" /></div>
    <h2>Sydney</h2>
    <p class="lead">Field Engineer Management System.</p>
    @if (HttpContext.Current.Session["UserID"] == null)
    {
        @*<p><button class="btn btn-primary btn-lg">Login</button></p>*@
        <input type="button" class="btn btn-primary btn-lg" value="Login" onclick="location.href='@Url.Action("Login", "Home")'" />
    }
    else
    {
        <input type="button" class="btn btn-primary btn-lg" value="Logout" onclick="location.href='@Url.Action("Logout", "Home")'" />
    }
</div>

<div class="row">
    <div class="col-md-4">
        <h2 style="color: #1dd1a1">Inventory Management</h2>
        <p>
            Inventory of XnetIT is stored in warehouses located in different areas of the country. It
            can be accessed by the field engineers with the password of the lock. Passwords are
            shared with the IT-Coordinators by the Administrations. Inventories are used by the
            Field engineers at the site. Inventory can be divided into 3 main parts.
            
            <ul>
                <li> Unused inventory </li>
                <li> Used inventory </li>
                <li> Scrapped inventory </li>
            </ul>
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2 style="color: #1dd1a1">Jobs Management</h2>
        <p>
            Manage Jobs is an important module on this system. Managing all Jobs is performed
            here. Job status update such as started, delayed or finish, Viewing Job History, approval
            on additional work at the site, time spent on the Job, the field engineer responsible for
            a specific Job are recorded here. IT- Coordinator is responsible for
            creation/editing/deletion of jobs
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2 style="color: #1dd1a1">Field Engineers Management</h2>
        <p>
            Managing field engineers and rating the field engineers are performed here. Field
            Engineer personal details, skills, talents, are recorded here. Registration and the
            interview process of the Field engineer is tracked here. IT-Coordinator is responsible
            for creation/editing/deletion of all the Field engineer details and rating of the field
            engineer is done by the Field Engineer
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>